body {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 900px;
	min-width: 900px;
	border: 2px solid navy;
}

body, html {
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;
}

html {
	background-color: rgba(0, 0, 128, 0.5);
}

.general-header, .info-header, label, button, input, .disclaimer {
	font-family: 'Domine', serif;
	font-weight: 800;
	color: navy;
}

.general-header {
	font-size: 40px;
}

.info-header {
	font-size: 20px;
}

.disclaimer {
	font-size: 12px;
}

label, button, input {
	margin: 5px;
	font-size: 15px;
}

input, button {
	width: 150px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

textarea {
	min-height: 150px;
	min-width: 500px;
}