body {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 900px;
	min-width: 900px;
	border: 2px solid navy;
}

body, html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

html {
	background-image: url('https://animalhospitalschampionsnorthwestjonesrd.files.wordpress.com/2014/02/dogsatdogpark.jpg')
}