body {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	width: 900px;
	min-width: 900px;
	border: 2px solid navy;
}

body, html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

html {
	background-image: url('https://animalhospitalschampionsnorthwestjonesrd.files.wordpress.com/2014/02/dogsatdogpark.jpg')
}

.general-header, .info-header, label, button, input {
	font-family: 'Domine', serif;
	font-weight: 800;
	color: navy;
}

.general-header {
	font-size: 40px;
}

.info-header {
	font-size: 20px;
}

label, button, input {
	margin: 5px;
	font-size: 15px;
}

input, button {
	width: 150px;
}