.login-a {
	color: navy;
	text-decoration: none;
}

.login-a:hover {
	background-color: navy;
	color: white;
	padding: 5px;
	border-radius: 20px;
}

html {
	background-image: url('https://animalhospitalschampionsnorthwestjonesrd.files.wordpress.com/2014/02/dogsatdogpark.jpg') !important
}