<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
{% extends 'layout.html' %}

{% block content %}
	
	<div class="404-page">
		<h2 class="general-header">Are you lost? The page you are looking for does not exist. If you typed in your own URL, check to make sure you spelled everything correctly. Otherwise, use your back button or click <a href="{{url_for('dashboard')}}">here</a> to go back to the home page.</h2>
	</div>

{% endblock %}	