<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='delete.css')}}">
<link href="https://fonts.googleapis.com/css?family=Domine|Patrick+Hand" rel="stylesheet">
{% extends 'layout.html' %}
{% block content %}
	<div id="confirm-delete-content">
		<h2 class="general-header">
			You were sent here because you indicated that you wanted to delete your account. There is still time to reconsider.
		</h2>
		<h5>
			Deleting your account is a permanent decision. There is no recovery process. You will have to start all over.
			<br>
			If you are still undeterred, press the button below and your account will be permanently deleted.</h5>
		<a href="{{url_for('delete_user', id=current_user.id)}}">Delete My Profile</a>
	</div>
{% endblock %}


