{% extends 'layout.html' %}

{% block content %}

	{% if unread %}
		<h5>You have unread messages! Check your <a href="{{ url_for('read_message')}}">inbox</a> to read them!</h5>
	{% endif %}
	{% for post in posts %}

		<div class = "card" style = "width: 22rem;">
			<div>
				<time data-time = "{{ post.timestamp }}" class = "distime" datetime = "{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}">
					{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}
				</time>
				<a href = "{{ url_for('get_profile', id = post.user.id) }}">
					{{ post.user.display_name }}
				</a>
			</div>
			<div class = "card-body">
				<p class = "card-text">
					I am looking for: <br>
					{{ post.content }} <br><br>
					I need a sitter on: <br>
					{{ post.requested_time }}
				</p>
			</div>
		</div>

	{% endfor %}

{% endblock %}
