<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Domine|Patrick+Hand" rel="stylesheet">
{% extends 'layout.html' %}

{% block content %}
	<div class="dash-content">	
		{% if unread %}
			<h5>You have unread messages! Check your <a href="{{ url_for('read_message')}}">inbox</a> to read them!</h5>
		{% endif %}
		<h2 class="general-header">Welcome to PetShare, where pet owners and responsible pet lovers can support each other! </h2>
		<h5>Whether you need a pet sitter while you're away or are looking to enjoy the company of a furry friend, PetShare is here for you! If you need some help, create a post! Register your pet and you can create posts for them, and after just a few short steps potential sitters will be able to come right to you. If you're interested in helping someone in a location near you, send them a message! The process is made simple with PetShare.</h5>
		<div class="feed">
			{% for post in posts %}
				<div class="card">
					<div>
						<h5 class="card-head">Posted at:
							<time data-time="{{ post.timestamp }}" class = "distime" datetime = "{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}">
								{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}
							</time>
							<br>
							Posted by:
							<a href="{{ url_for('get_profile', id = post.user.id) }}">
								{{ post.user.display_name }}
							</a>
						</h5>
					</div>
					<div class="card-body">
						<p class="card-text">
							I am looking for a sitter for: <br>
							{{ post.pet.name }} <br><br>
							I need a sitter on: <br>
							{{ post.requested_time }} <br><br>
							I am located in: <br>
							{{ post.user.location }} <br><br>
							Other important details: <br>
							{{ post.content }} <br><br>
						</p>
						{% if post.user != current_user %}
							<a href="{{ url_for('send_message', recipient = post.user.id) }}">Send {{ post.user.display_name }} a message!</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<br><br><hr>
	<div class="disclaimer">
		<h7>Background image from https://animalhospitalschampionsnorthwestjonesrd.files.wordpress.com/2014/02/dogsatdogpark.jpg.</h7>
	</div>
{% endblock %}
