<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='show-pet.css')}}">
<link href="https://fonts.googleapis.com/css?family=Domine|Patrick+Hand" rel="stylesheet">
{% extends 'layout.html' %}

{% block content %}
	<div id="show-pet-content">
		<h2 class="general-header">{{ pet.name }}'s Profile</h2>
		<br>
		<h5>{{ pet.name }} is a {{ pet.age }} year old {{ pet.pet_type }}.</h5>
		<h5>{{ pet.name }}'s owner is {{ pet.owner.username }}.</h5>
		<h5>{{ pet.owner.username }} registered {{ pet.name }} on: <br>
			<time data-time = "{{ pet.created_on }}" class = "distime" datetime = "{{ pet.created_on.strftime('%Y-%m-%d') }}">
					{{ pet.created_on.strftime('%Y-%m-%d') }}
			</time>
		</h5>
		{% if current_user.id == pet.owner.id %}
			<hr>
		   <a href="{{url_for('update_pet', id=pet.id)}}">Edit {{ pet.name }}'s information</a>
		   <br>
		   <a href="{{url_for('delete_pet', id=pet.id)}}">Delete {{ pet.name }} from your pets</a>
		   <br>
		{% endif %}
	</div>
{% endblock %}