{% extends 'layout.html' %}

{% block content %}
	<h1>{{ user.display_name }}'s profile</h1>
	<p>current user id: {{current_user.id}}</p>
	<p>this user id: {{user.id}}</p>
    <div>
   		{{ user.username }} <br>
		   {% for pet in pets %}
		   	{% if current_user.id == user.id %}
			   <a href="{{url_for('update_pet', id=pet.id)}}">{{ pet.name }}</a>
			   <a href="{{url_for('delete_pet', id=pet.id)}}">delete this pet</a>
			{% else %}
				<p>{{pet.name}}</p>
			{% endif %}
   		{% endfor %} 
  		{{ user.bio }} <br>
    </div>

    {% for post in posts %}
		
		<div class = "card" style = "width: 22rem;">
			<time data-time = "{{ post.timestamp }}" class = "distime" datetime = "{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}">
				{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}
			</time>
			<h5 class = "card-title">
				<a class = "btn primary" href = "{{ url_for('get_profile', id = post.user) }}">
					{{ post.user.username }}
				</a>
			</h5>
			<div class = "card-body">
				<p class = "card-text">
					Request for: {{post.pet.name}}<br>
					{{ post.content }}
				</p>
			</div>
		</div>

	{% endfor %}
    {{ super() }}
{% endblock %}