<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='messages.css')}}">
<link href="https://fonts.googleapis.com/css?family=Domine|Patrick+Hand" rel="stylesheet">
{% extends "layout.html" %}
{% from 'macros.html' import render_field  %}

{% block content %}
	<div id="view-message-content">
		<h2 class="general-header">Your Messages</h2>
		{% for message in messages %}
			<div class="card">
				<h3 id="new-message">New message from {{ message.sender.username }}!</h3>
				<h5>At 
					<time data-time="{{ message.timestamp }}" class="distime" datetime="{{ message.timestamp.strftime('%H:%M') }}">
						{{ message.timestamp.strftime('%H:%M') }}
					</time>
					on
					<time data-time="{{ message.timestamp }}" class="distime" datetime="{{ message.timestamp.strftime('%Y-%m-%d') }}">
						{{ message.timestamp.strftime('%Y-%m-%d') }}
					</time>
					, {{ message.sender.username}} said:
				</h5>
				<p id="message-content-p">
					{{ message.content }}
				</p>
				<br>
				<button><a href="{{ url_for('send_message', recipient = message.sender.id) }}">Reply</a></button>
				<br>
				<button><a href="{{url_for('delete_message', id = message.id)}}">Delete This Message Permanently</a></button>
			</div>
		{% endfor %}
	</div>
	

{% endblock %}